label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed;
    background-size: cover;
    cursor: pointer;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail {
    display: none;
}